@model IEnumerable<Bookcase.ClientRepository.Models.BorrowedBooks>

@{
    ViewBag.Title = "Index";
}

<h2>Borrowed Books</h2>
@if (ViewBag.Error == true)
{
    <div class="alert alert-danger" role="alert">
        Not Found<br />
        Try again.
    </div>
}
<form asp-controller="BorrowedBooks" asp-action="Index">
    <p>
        Title: <input type="text" name="name">
        <input type="submit" value="Filter" />
    </p>
</form>
<br />
<p>
    @Html.ActionLink("Create New", "CreateBorrowedBooks")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBorrow)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBorrow)
        </td>
        <td>
          
            @Html.ActionLink("Delete", "Delete", new { id=item.BorrowedBooksId })
        </td>
    </tr>
}

</table>
